<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="../../public/css/Layout.css" />
    <link rel="stylesheet"
          href="../../public/css/articles.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="icon"
          href="../../public/img/icon/log2.png"
          type="image/x-icon" />
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Alegreya Sans SC"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&family=Source+Sans+Pro&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap"
          rel="stylesheet" />
    <script src="https://kit.fontawesome.com/9ccb26cf81.js"
            crossorigin="anonymous"></script>

    <!--Fonts-->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.2/umd/popper.min.js"
            integrity="sha512-Jen3K+iRN4thSYDEyHwUGYFxNslAUCTV9P/g0k836eaoq/tplAUCzRPUyDxKUjBlKdJhamW7S3u7NWSGEEdIQw=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Here goes the Parse SDK for JavaScript -->
    <script
      type="text/javascript"
      src="https://npmcdn.com/parse/dist/parse.min.js"
    ></script>
    <script type="text/javascript" type="text/javascript">
      Parse.initialize(
        "aC742iFhVWVr82DREWfariSl6puXp01vAsluN4mH",
        "huVOduZAMwxcOTOPVu16tXMeLQ1Aj9L6ItfuQjfY"
      );
      Parse.serverURL = "https://parseapi.back4app.com/";
    </script>
    <script src="../../public/jscripts/Form-Login/index.js"></script>

    <title>Dynamo Core</title>
  </head>

  <body>
    <!-- horizontal navbar -->
    <nav class="navbar navbar-default"
         id="mNavbar">
      <div class="container-fluid"
           id="navtop">
        <div class="navbar-header">
          <a id="txtdeco"
             href="../../views/DynamoCore.html">
            <img class="img img-rounded imgstat"
                 alt="Navbar_logo"
                 src="../../public/img/icon/Log.png"
                 width="50"
                 height="50"
                 class="d-inline-block align-top" />
          </a>
          <span><a id="head"
               href="../../views/DynamoCore.html">Dynamo Core</a></span>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="vline">
            <a id="auraButtontext" href="../../views/seminar/semMain.html"
                    >SEMINAR</a
                  >
          </li>
          <li><a href="../../views/Articles/ArticlesMain.html">ARTICLES</a></li>
          <li><a href="../../views/Languages/LangGuide.html">LANG-GUIDES</a></li>
          <li class="vline">
            <a href="../../views/FORMS/sign_up.html"
               class="LoGup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
          </li>
          <li>
            <a href="../../views/FORMS/sign_in.html"
               class="LoGin"
               onclick="logCheck()"><span class="glyphicon glyphicon-log-in "></span> Login</a>
          </li>
           <li>
                <div class="dropdown logged">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="loggedInDis">
                  </button>
                  <ul class="dropdown-menu loggedDrop">
                   <li><a href="../../views/Profile/profile.html" class="profileBtn">Profile</a></li>
                   <li><a class="logoutButton" onclick="logout()">Log Out</a></li>
                 </ul>
                 </div>
              </li>
        </ul>
      </div>
    </nav>
    <!-- horizontal navbar -->
    <div class="container ArtMain">
      <div class="container">
        <h1 class="artTextCont">Social Engineering:</h1>
        <h3>What is this?!</h3>
        <p id="description">
          Social engineering is the term used for a broad range of malicious activities accomplished through human
          interactions. It uses psychological manipulation to trick users into making security mistakes or giving away
          sensitive information
        </p>
        <h3>Social Engineering Attack Lifecycle</h3>
        <img src="../../public/img/Articles/social-engineering.png"
             alt="">
        <h3>Social Engineering Attack techniques</h3>
        <p id="benefits">
          Social engineering attacks come in many different forms and can be performed anywhere where human interaction
          is involved. The following are the five most common forms of digital social engineering assaults.
        <ul>
          <li>Baiting</li>
          <li>Scareware</li>
          <li>Pretexting</li>
          <li>Phishing</li>
          <li>Spear phishing</li>
        </ul>
        </p>
        <h3>Social engineering prevention</h3>
        <p id="categories">
          Social engineers manipulate human feelings, such as curiosity or fear, to carry out schemes and draw victims
          into their traps. Therefore, be wary whenever you feel alarmed by an email, attracted to an offer displayed on
          a website, or when you come across stray digital media lying about. Being alert can help you protect yourself
          against most social engineering attacks taking place in the digital realm.
        <ul>
          <li>Don’t open emails and attachments from suspicious sources</li>
          <li>Use multifactor authentication</li>
          <li>Be wary of tempting offers</li>
          <li>Keep your antivirus/antimalware software updated</li>
        </ul>
        </p>
      </div>
    </div>
    <!--Footer-->
    <footer class="footer-content">
      <div class="jumbotron text-md-left">
        <span class="ribbonfootz"><span class="ribbonfoot footer-text">Get In Touch!</span></span>
        <div class="row">
          <div class="col-md-5">
            <img src="../../public/img/icon/Log.png"
                 alt="footer-img"
                 id="footer-img" />

            <h3 class="footer-text text-left">Dynamo Core:</h3>
            <p id="footercontent">
              Dynamo Core is an interactive, ever growing platform to design and
              develop projects, to acquire new and essential tech aspects
              without leaving behind the essential building blocks i.e.
              languages . All in all a tech pill to enhance and channel your
              creative & reasoning mind in the right output stream.
            </p>
          </div>

          <div class="col-md-2 "
               id="footert">
            <h4 class="text-uppercase text-left  footCol">Projects</h4>
            <ul class="list-unstyled text-left">
              <li>
                <a href="../../views/Projects/Arduino/EMO project.html">EMO Display</a>
              </li>
              <li>
                <a href="../../views/Projects/Arduino/4x3 input keypad with matrix display.html">Input Keypad with Led
                  Matrix display
                </a>
              </li>
              <li>
                <a href="../../views/Projects/Arduino/Joystick module.html">Joystick module</a>
              </li>
              <li>
                <a href="../../views/Projects/Arduino/LCD display.html">LCD Display</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 ">
            <h4 class="text-uppercase text-left  footCol">Articles</h4>
            <ul class="list-unstyled text-left">
              <li><a href="../../views/Articles/Penetration Testing.html">Penetration Testing</a></li>
              <li><a href="../../views/Articles/Phishing Security.html">Phishing Security</a></li>
              <li>
                <div style="color: #337ab7;">Coming Soon!</div>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4 class="text-uppercase text-left  footCol">Language Guides</h4>
            <ul class="list-unstyled text-left">
              <li><a href="../../views/Languages/C/intro/historyofc.html">C</a></li>
              <li><a href="../../views/Languages/C++/intro/HistoryofC++.html">C++</a></li>
              <li>
                <div style="color: #337ab7;">Java(Coming Soon!)</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row"
             id="footerLinksTxt">
          <div class="col-md-7"
               id="footerLinksTxt">
            <p class="footer-text">Share your thoughts, and leave a Like</p>
          </div>
          <div class="col-md-5"
               id="footerLinks">
            <p class="text-left">
              <a href="https://facebook.com/"
                 class="social-round-icon orange-round-icon fa-icon"
                 title="">
                <i class="fa fa-facebook"
                   aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/"
                 class="social-round-icon orange-round-icon fa-icon"
                 title="">
                <i class="fa fa-twitter"
                   aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/"
                 class="social-round-icon orange-round-icon fa-icon"
                 title="">
                <i class="fa fa-linkedin"
                   aria-hidden="true"></i>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="footer-copyright text-center"
           id="cpyrgt">
        © 2020 Copyright:
        <a href="../../views/DynamoCore.html"> Dynamo Core.com</a>
      </div>
    </footer>
    <!--Footer-->
    <script src="../../public/jscripts/Loginlogic.js"></script>
    <script>
      AOS.init();
    </script>
  </body>

</html>
