

.head {
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    position: absolute;
    margin: 0% 20% 0 ;
    top: 210px;
    left: 300px;
    color: aliceblue;
    ;
}

.cont{
    position: absolute;
    margin: 5% auto 0 auto ;
    top: 600px;
    left: 100px;
    right: 100px;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    font-family: 'Lato', sans-serif;
}

