.connect-img {
    position:relative;
    width: 90%;
    height: 30%;
    margin: 10% 5% 5% 5%;
    border: 20px solid;
    border-color: aliceblue;
    z-index: -0.1;
    opacity: 0.9;
}

.head {
    font-family: 'Sonsie One', cursive;
    font-size: 50px;
    position: absolute;
    margin: 0% 20% 0 ;
    top: 250px;
    left: 300px;
    color: aliceblue;
    ;
}

.cont{
    position: absolute;
    margin: 5% auto 0 auto ;
    top: 500px;
    left: 300px;
    font-size: 25px;
    color: aliceblue;
    font-family: 'Merriweather', serif;
}