<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../public/css/Layout.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="icon"
      href="../public/img/icon/LOGO_NoBackground.png"
      sizes="16x16"
      type="image/x-icon"
    />
    <!--Fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya Sans SC"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9ccb26cf81.js"
      crossorigin="anonymous"
    ></script>

    <!--Fonts-->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.2/umd/popper.min.js"
      integrity="sha512-Jen3K+iRN4thSYDEyHwUGYFxNslAUCTV9P/g0k836eaoq/tplAUCzRPUyDxKUjBlKdJhamW7S3u7NWSGEEdIQw=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Here goes the Parse SDK for JavaScript -->
    <script
      type="text/javascript"
      src="https://npmcdn.com/parse/dist/parse.min.js"
    ></script>
    <script type="text/javascript" type="text/javascript">
      Parse.initialize(
        "aC742iFhVWVr82DREWfariSl6puXp01vAsluN4mH",
        "huVOduZAMwxcOTOPVu16tXMeLQ1Aj9L6ItfuQjfY"
      );
      Parse.serverURL = "https://parseapi.back4app.com/";
    </script>
    <script src="../../public/jscripts/Form-Login/index.js"></script>

    <title>Dynamo Core</title>
  </head>

  <body>
    <!-- horizontal navbar -->
    <header>
      <div class="wrapHead">
        <nav class="navbar navbar-default" id="mNavbar">
          <div class="container-fluid" id="navtop">
            <div class="navbar-header">
              <a id="txtdeco" href="../views/DynamoCore.html">
                <img
                  class="img img-rounded imgstat"
                  alt="Navbar_logo"
                  src="../public/img/icon/LOGO_NoBackground.png"
                  width="50"
                  height="50"
                  class="d-inline-block align-top"
                />
              </a>
              <span><a id="head" href="#">Dynamo Core</a></span>
            </div>
            <ul class="nav navbar-nav navbar">
              <li class="auraButton">
                <a id="auraButtontext" href="../views/Community/community.html"
                  >COMMUNITY</a
                >
              </li>
              <li class="auraButton">
                <a
                  id="auraButtontext"
                  href="../views/Articles/ArticlesMain.html"
                  >ARTICLES</a
                >
              </li>
              <li class="auraButton">
                <a id="auraButtontext" href="../views/Languages/LangGuide.html"
                  >LANG-GUIDES</a
                >
              </li>
            </ul>
            <ul class="nav navbar-nav navbar" id="loginNav">
              <li>
                <a
                  id="auraButtontext"
                  href="../views/FORMS/sign_In.html"
                  class="LoGup"
                  ><span class="glyphicon glyphicon-user"></span> Login</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- horizontal navbar -->

    <!--Upper contents Begins-->
    <div>
      <img
        src="../public/img/icon/pixel.jpg"
        alt="simple"
        width="100%"
        height="100%"
      />
    </div>
    <!--Upper contents END-->

    <!--Lower Contents Begins-->

    <!--Lower Contents END-->

    <script src="../jscripts/Loginlogic.js"></script>
    <!--Footer-->

    <footer class="footer-content">
      <div class="jumbotron text-md-left">
        <span class="ribbonfootz"
          ><span class="ribbonfoot footer-text">Get In Touch!</span></span
        >
        <div class="row">
          <div class="col-md-5">
            <img
              src="../public/img/icon/DC.png"
              alt="footer-img"
              id="footer-img"
            />
            <h3 class="footer-text text-left">Dynamo Core:</h3>
            <p id="footercontent">
              Dynamo Core is an interactive, ever growing platform to design and
              develop projects, to acquire new and essential tech aspects
              without leaving behind the essential building blocks i.e.
              languages . All in all a tech pill to enhance and channel your
              creative & reasoning mind in the right output stream.
            </p>
          </div>

          <div class="col-md-2"></div>
          <div class="col-md-2">
            <h4 class="text-uppercase text-left footCol">Articles</h4>
            <ul class="list-unstyled text-left">
              <li>
                <a href="../views/Articles/Penetration Testing.html"
                  >Penetration Testing</a
                >
              </li>
              <li>
                <a href="../views/Articles/Phishing Security.html"
                  >Phishing Security</a
                >
              </li>
              <li>
                <div style="color: #337ab7">Coming Soon!</div>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4 class="text-uppercase text-left footCol">Language Guides</h4>
            <ul class="list-unstyled text-left">
              <li>
                <a href="../views/Languages/C/intro/historyofc.html">C</a>
              </li>
              <li>
                <a href="../views/Languages/C++/intro/HistoryofC++.html">C++</a>
              </li>
              <li>
                <div style="color: #337ab7">Java(Coming Soon!)</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row" id="footerLinksTxt">
          <div class="col-md-7" id="footerLinksTxt">
            <p class="footer-text">Share your thoughts, and leave a Like</p>
          </div>
          <div class="col-md-5" id="footerLinks">
            <p class="text-left">
              <a
                href="https://facebook.com/"
                class="social-round-icon orange-round-icon fa-icon"
                title=""
              >
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a
                href="https://twitter.com/"
                class="social-round-icon orange-round-icon fa-icon"
                title=""
              >
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a
                href="https://www.linkedin.com/"
                class="social-round-icon orange-round-icon fa-icon"
                title=""
              >
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="footer-copyright text-center" id="cpyrgt">
        © 2021 Copyright:
        <a href="../views/DynamoCore.html"> DynamoCore.com</a>
      </div>
    </footer>
    <!--Footer-->
    <script>
      AOS.init();
    </script>
  </body>
</html>

<!--Pallete 
      #E7717D

  #C2CAD0

    #C28980

    #7E685A

  #AFD275

   #464648
        
    -->
